# Dependencies
node_modules/
package-lock.json.bak

# Test artifacts & Reports
target/
.serenity/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment variables (Secrets)
.env
.env.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

